html {
    border-top: 15px solid #002b4f;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Aktiv Grotesk' !important;
    color: #155171;
}

.container {
    max-width: 1920px;
}

.container {
    max-width: 1693px;
    padding-left: 115px;
    padding-right: 115px;
}

@media only screen and (min-width: 600px) {
    html {
        border-top: 7px solid #002b4f;
    }
}

main {
    background-color: #f0f5f8;
    h2 {
        text-transform: uppercase;
        font-family: 'politica-extrabold';
    }
}